In [54]:
import pandas as pd
localpath = r"data"
filename = r'DWD_Stations_NRW_CRS_A.csv'

EPSG:2865;


EPSG:4647;

3557;

4326;

In [65]:
df_A = pd.read_csv(localpath+"/"+filename,sep=",", parse_dates=["date_from","date_to"],index_col = 0,encoding ="cp1252")
#EPSG:4326
df_A.head()

,date_from,date_to,altitude,latitude,longitude,name,state
station_id,,,,,,,
216,2004-10-01,2020-11-04,298,51.1143,7.8807,Attendorn-Neulisternohl,Nordrhein-Westfalen
389,2009-11-01,2020-11-04,436,51.0148,8.4318,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen
390,2004-07-01,2020-11-04,610,50.9837,8.3683,"Berleburg, Bad-StÃ¼nzel",Nordrhein-Westfalen
554,1995-09-01,2020-11-04,23,51.8293,6.5365,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen
603,1999-03-03,2020-11-04,147,50.7293,7.2040,KÃ¶nigswinter-Heiderhof,Nordrhein-Westfalen

In [56]:
filenameB = r"DWD_Stations_NRW_CRS_B.csv"
filenameC = r"DWD_Stations_NRW_CRS_C.csv"
filenameD = r"DWD_Stations_NRW_CRS_D.csv"

In [57]:
df_B = pd.read_csv(localpath+"/"+filenameB,sep=";", parse_dates=["date_from","date_to"],index_col = 0,encoding ="cp1252")
df_C = pd.read_csv(localpath+"/"+filenameC,sep=";", parse_dates=["date_from","date_to"],index_col = 0,encoding ="cp1252")
df_D = pd.read_csv(localpath+"/"+filenameD,sep=";", parse_dates=["date_from","date_to"],index_col = 0,encoding ="cp1252")

In [67]:
#EPSG:3857
df_B.head()

,date_from,date_to,altitude,X,Y,name,state
station_id,,,,,,,
216,2004-10-01,2020-11-04,298,877275.511095,6.641537e+06,Attendorn-Neulisternohl,Nordrhein-Westfalen
389,2009-11-01,2020-11-04,436,938623.682471,6.623912e+06,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen
390,2004-07-01,2020-11-04,610,931554.894805,6.618411e+06,"Berleburg, Bad-StÃ¼nzel",Nordrhein-Westfalen
554,1995-09-01,2020-11-04,23,727639.851570,6.769319e+06,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen
603,1999-03-03,2020-11-04,147,801945.611675,6.573549e+06,KÃ¶nigswinter-Heiderhof,Nordrhein-Westfalen

In [63]:
#EPSG 4647
df_C.head()

,date_from,date_to,altitude,X,Y,name,state
station_id,,,,,,,
216,2004-10-01,2020-11-04,298,3.242165e+07,5.663131e+06,Attendorn-Neulisternohl,Nordrhein-Westfalen
389,2009-11-01,2020-11-04,436,3.246014e+07,5.651624e+06,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen
390,2004-07-01,2020-11-04,610,3.245566e+07,5.648202e+06,"Berleburg, Bad-StÃ¼nzel",Nordrhein-Westfalen
554,1995-09-01,2020-11-04,23,3.233025e+07,5.744923e+06,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen
603,1999-03-03,2020-11-04,147,3.237325e+07,5.621261e+06,KÃ¶nigswinter-Heiderhof,Nordrhein-Westfalen

In [66]:
#EPSG 28657
df_D.head()

,date_from,date_to,altitude,X,Y,name,state
station_id,,,,,,,
216,2004-10-01,2020-11-04,298,421653.347638,5.663131e+06,Attendorn-Neulisternohl,Nordrhein-Westfalen
389,2009-11-01,2020-11-04,436,460142.455081,5.651624e+06,"Berleburg, Bad-Arfeld",Nordrhein-Westfalen
390,2004-07-01,2020-11-04,610,455658.520767,5.648202e+06,"Berleburg, Bad-StÃ¼nzel",Nordrhein-Westfalen
554,1995-09-01,2020-11-04,23,330249.192386,5.744923e+06,Bocholt-Liedern (Wasserwerk),Nordrhein-Westfalen
603,1999-03-03,2020-11-04,147,373247.607141,5.621261e+06,KÃ¶nigswinter-Heiderhof,Nordrhein-Westfalen

In [59]:
df_D.iloc[:,[1]]

              date_to
station_id
216        2020-11-04
389        2020-11-04
390        2020-11-04
554        2020-11-04
603        2020-11-04
...               ...
13671      2020-11-04
13696      2020-11-04
13700      2020-11-04
13713      2020-11-04
15000      2020-11-04

[83 rows x 1 columns]